<!-- Verifica se o componente recebeu os dados -->
@if (dados) {

  <header class="dashboard-header">

  <div>

    <span class="titulo-pequeno">
      Dashboard
    </span>

  </div>


  <!-- Botão responsável por encerrar a sessão -->
  <button
    type="button"
    class="botao-secundario"
    (click)="sair()"
  >
    Sair
  </button>

</header>

  <h1>
    Olá, {{ dados.utilizador.nome }}
  </h1>

  <p>
    Nome de utilizador:
    {{ dados.utilizador.nomeUtilizador }}
  </p>

  <p>
    Perfil:
    {{ dados.utilizador.perfil }}
  </p>

  <p>
    Conta criada em:
    {{ dados.utilizador.criadoEm }}
  </p>

  @if (dados.balcao) {

    <p>
      Balcão:
      {{ dados.balcao.nome }}
    </p>

  } @else {

    <p>
      Nenhum balcão atribuído.
    </p>

  }

}